*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}

@font-face {
    font-family: medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: bold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

.header{
    width: 100%;
    height: 130px;
    z-index: 999;
    background-color: #670C07;
    position: fixed;
    top: 0px;
    
}
.header.sticky{
    height: 80px;
    background-color: #670C07;
}
.header .top{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #000;
}
.header .top .ownlink{
    width: 160px;
    height: 50px;
    background-color: #fff;
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.header .top .ownlink a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    font-family: bold;
}
.header .top .ownlink:hover{
    background-color: rgb(44, 44, 44);
}
.header .top .ownlink:hover a{
    color: #670C07;
}
.header .top .precontent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header .top .precontent .ticket{
    width: 180px;
    height: 50px;
}
.header .top .precontent .ticket ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
}
.header .top .precontent .ticket ul li{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 86% 0, 100% 100%, 14% 100%);
}
.header .top .precontent .ticket ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: bold;
}
.header .top .precontent .ticket ul li:hover{
    background-color: rgb(44, 44, 44);
}
.header .top .precontent .login{
    width: 180px;
    height: 50px;
    background-color: rgb(44, 44, 44);
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 0 100%);
}
.header .top .precontent .login ul{
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
}
.header .top .precontent .login ul li{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .top .precontent .login ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: bold;
    transition: .3s;
}
.header .top .precontent .login ul li a:hover{
    color: #670C07;
}
.header .main{
    width: 100%;
    height: 80px;
    background-color: #670C07;
    display: flex;
}
.header .main .logo{
    width: 8%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .main .logo img{
    width: 100%;
    
}
.header .main .content{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.header .main .content .allinfo{
    width: 40%;
    height: 80px;
}
.header .main .content .allinfo > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.header .main .content .allinfo ul > li{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header .main .content .allinfo ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;

    font-family: medium;

}
.header .main .content .allinfo ul li a i{
    font-size: 14px;
    font-weight: 600;
    transition: .5s;
}
.header .main .content .allinfo > ul > li:hover > a i{
    transform: rotate(-180deg);
}
.header .main .content .allinfo ul li .dropdown1{
    width: 700px;
    position: absolute;
    bottom: -100px;
    left: -230px;
    background-color: #fff;
    padding-left: 120px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: 10;
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.69);
}
.header .main .content .allinfo ul li .dropdown2{
    width: 700px;
    position: absolute;
    bottom: -100px;
    left: -350px;
    background-color: #fff;
    padding-left: 120px;
    z-index: 10;
   visibility: hidden;
    opacity: 0;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.69);
}
.header .main .content .allinfo ul li .dropdown3{
    width: 700px;
    position: absolute;
    bottom: -100px;
    left: -430px;
    background-color: #fff;
    padding-left: 120px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    border-radius: 5px;
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.69);
}
.header .main .content .allinfo ul li .dropdown1 li
,.header .main .content .allinfo ul li .dropdown2 li
,.header .main .content .allinfo ul li .dropdown3 li{
    height: auto;
    display: block;
}
.header .main .content .allinfo ul > li > .dropdown1 > li > a > i
,.header .main .content .allinfo ul > li > .dropdown2 > li > a > i
,.header .main .content .allinfo ul > li > .dropdown3 > li > a > i{
    font-weight: 600;
    font-size: 12px;
    opacity: 0;
    transition: .5s;
    color: rgb(10, 10, 10);
}
.header .main .content .allinfo ul li .dropdown1 li a
,.header .main .content .allinfo ul li .dropdown2 li a
,.header .main .content .allinfo ul li .dropdown3 li a{
    color: rgb(107, 107, 107);
    font-size: 18px;
    font-weight: 400;
    transition: .5s;
}
.header .main .content .allinfo ul li .dropdown1 li:hover a
,.header .main .content .allinfo ul li .dropdown2 li:hover a
,.header .main .content .allinfo ul li .dropdown3 li:hover a{
    color: #000;
}
.header .main .content .allinfo ul li .dropdown1 li:hover a i
,.header .main .content .allinfo ul li .dropdown2 li:hover a i
,.header .main .content .allinfo ul li .dropdown3 li:hover a i{
    opacity: 1;
    transform: translate(5px);
}
.header .main .content .allinfo ul li:hover .dropdown1
,.header .main .content .allinfo ul li:hover .dropdown3{
    position: absolute;
    bottom: -80px;
    opacity: 1;
    visibility: visible;
}
.header .main .content .allinfo ul li:hover .dropdown2{
    position: absolute;
    bottom: -55px;
    opacity: 1;
    visibility: visible;
}
.header .main .content .allinfo > ul > li::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(192, 192, 192);
    transition: .3s;
    width: 0;
}
.header .main .content .allinfo > ul > li:hover::after{
    width: 100%; 
    left: 0;
}
.header .main .content .search{
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
}
.header .main .content .search .icon{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .main .content .search .icon img{
    width: 30%;
    height: 30%;
}
.header .main .content .search .icon img:hover{
    cursor: pointer;
}
.header .main .content .searchinp{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}
.header .main .content .searchinp input{
    width: 90%;
    height: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    margin-right: 60px;
}
.header .main .content .searchinp button{
    width: 50px;
    height: 50px;
    color: #fff;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 28px;
}
.header .main .content .searchinp button:hover{
    cursor: pointer;
}

.header .menu{
    display: none;
}
.header .toggler {
    display: none;
    
}
  
.header .hamburger {
    display: none;
}
    

@media screen and (max-width: 767px) {
    .header{
        position: relative;
        position: fixed;
        top: 0px;
    }
    .header .main .content .allinfo{
        display: none;
    }
    .header .main .content .search .icon{
        display: none;
    }
    .header .main .logo{
        width: 50%;
        height: 80px;
        margin-left: 10px;
        margin-right: 18px;
        
    }
    .header .main .logo img{
        width: 100%;
        height: 100%;
    }
    .header .main .content .search{
        width: 200px;
        height: 80px;
        display: flex;
    }

    .header .top .ownlink{
        width: 25%;
        
    }
    .header .top .ownlink a{
        font-size: 12px;
        
    }
    .header .top .precontent .ticket{
        width: 40%;
    }
    
    .header .top .precontent .ticket ul li a{
        font-size: 12px;
    }
    .header .top .precontent .login{
        width: 35%;
    }
    .header .top .precontent .login ul li a{
        font-size: 10px;
    }


    .header .toggler {
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
        display: flex;
    }
      
    .header .hamburger {
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 15px;
        background: transparent;
        display: block;
    }
    .header .hamburger > div{
        width: 100%;
        height: 60px;
        position: relative;
    }
      
    .header .hamburger .topline,
    .header .hamburger .centerline,
    .header .hamburger .bottomline{
        position: absolute;
        flex: none;
        width: 100%;
        height: 2px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s ease;
    }
    .header .hamburger .topline{
        top: 10px;
    }
    .header .hamburger .centerline{
        top: 18px;
    }
    .header .hamburger .bottomline{
        top: 26px;
    }
      
    /* .header .hamburger > div::before,
    .header .hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
      
    .header .hamburger > div::after {
        top: 10px;
    } */
      
    /* .header .toggler:checked + .hamburger > div {
        transform: rotate(135deg);
    }
      
    .header .toggler:checked + .hamburger > div:before,
    .header .toggler:checked + .hamburger > div:after {
        top: 0;
        transform: rotate(90deg);
    } */

    .header .menu{
        display: flex;
        width: 100%;
        z-index: 999;
        background-color: #670C07;
        visibility: hidden;
        position: fixed;
        
    }
    .header .menu > div{
        width: 100%;

    }
    .header .menu ul{
        list-style: none;
        width: 100%;
    }
    .header .menu ul li{
        position: relative;
        width: 90%;
    }

    .header .menu ul li a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        font-family: medium;
        padding-left: 20px;
    }
    .header .menu ul li a i{
        font-size: 14px;
        position: absolute;
        right: -30px;
        top: 8px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        
    }
    .header .menu ul li i{
        font-size: 14px;
        position: absolute;
        right: -30px;
        top: 8px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        color: #fff;
        
    }
    

    .header .menu ul li .dropdown1{
        width: 100%;
        background-color: #fff;
        display: none;
        transition: all .5s ease;
    }
    .header .menu ul li .dropdown2{
        width: 100%;
        background-color: #fff;
        display: none;
    }
    .header .menu ul li .dropdown3{
        width: 100%;
        background-color: #fff;
        display: none;
    }
    .header .menu ul li .dropdown1 li a
    ,.header .menu ul li .dropdown2 li a
    ,.header .menu ul li .dropdown3 li a{
        font-size: 16px;
        color: rgb(85, 85, 85);
        font-weight: 400;
    }
    
    .header .menu .futsearch{
        width: 100%;
        height: 320px;
        background-color: #000;
        padding: 40px 20px 30px 20px;
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }
    .header .menu .futsearch .src{
        position: relative;
    }
    .header .menu .futsearch .src input{
        width: 100%;
        height: 40px;
        border: #fff solid 1px;
        background-color: transparent;
        color: #fff;
        outline: none;
        padding-left: 10px;
        font-size: 18px;
    }
    .header .menu .futsearch .src img{
        width: 30px;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .header .menu .futsearch .iteams {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    .header .menu .futsearch .iteams .logo{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
    .header .menu .futsearch .iteams .logo img{
        width: 80%;
        
    }
    .header .menu .futsearch .iteams .futlist{
        list-style: none;
        display: flex;
        width: 70%;
        padding-top: 10px;
    }
    .header .menu .futsearch .iteams .futlist li{
        padding-right: 20px;
    }
    .header .menu .futsearch .iteams .futlist li a{
        text-decoration: none;
    }
    .header .menu .futsearch .iteams .futlist li a i{
        color: #fff;
        opacity: .3;
        font-size: 30px;
        position: relative;
    }

}

@media screen and (min-width: 768px) and (max-width: 1223px){
    .header .main .logo{
        width: 20%;
        height: 80px;
        margin-left: 10px;
        margin-right: 18px;
        
    }
    .header .main .content .allinfo{
        width: 60%;
        
    }
    .header .main .content .allinfo ul li a{
        font-size: 15px;
    }
    .header .main .content .allinfo ul li .dropdown1{
        left: -200px;
    }
    .header .main .content .allinfo ul li .dropdown2{
        left: -290px;
    }
    .header .main .content .allinfo ul li .dropdown3{
        left: -350px;
        
    }
    .header .main .content .search{
        display: flex;
        justify-content: flex-end;
        
        
    }
}