*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}
@font-face {
    font-family: bold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: bolditalic;
    src: url(../fonts/Poppins-SemiBoldItalic.ttf);
}

.newstitle{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newstitle .overlay{
    width: 100%;
    height: 300px;
    background-color: rgba(62,41,4,.65);
    display: flex;
    justify-content: center;
    align-items: center;
}
.newstitle .overlay h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    font-family: bold;
}
.newstitle .overlay h1::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: 0px;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}
.newstitle .overlay h4{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    font-family: bold;
    text-align: center;
}

@media screen and (max-width: 767px){
    .newstitle{
        background-position: top center;
    }
    .newstitle .overlay h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px ){
    .newstitle{
        background-position: top center;
    }

}

.historycontent{
    width: 100%;
    background-color: #f0f0f0;
    padding: 0px 300px;
}
.historycontent .headtext{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.historycontent .headtext h2{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
    display: block;
    font-family: bolder;
}
.historycontent .headtext h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: 0px;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}
.historycontent .iteam{
    width: 100%;
    background-color: #fff;
    padding: 40px;
    overflow: hidden;
}
.historycontent .iteam h3{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
    display:block;
    font-family: bolder;
}
.historycontent .iteam h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: -80%;
}
.historycontent .iteam p{
    color: #000;
    font-size: 14px;
    font-family: bolditalic;
    
}
@media screen and (max-width: 767px){
    .historycontent{
        padding: 0px 0px;
    }
    .historycontent .iteam{
        padding: 10px;
    }
    .historycontent .iteam h3::after{
        left: -10%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1223px ){
    .historycontent{
        padding: 0px 100px;
    }
    .historycontent .iteam{
        padding: 10px;
    }

}



.sentences{
    width: 100%;
    height: 600px;
    background: url(https://sawolvesprodnortheurope.blob.core.windows.net/cache/4/a/0/c/6/7/4a0c67cde8da4f54903f4dcc2db76a4f652f4b73.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sentences .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sentences .text p{
    font-size: 60px;
    font-family: bold;
    text-align: center;
    color: #000;
}
.sentences .text span{
    width: 300px;
    color: #670C07;
    font-family: bold;
    font-size: 35px;
    position: relative;
}
.sentences .text span::before{
    content: "";
    width: 35%;
    height: 4px;
    background-color: #670C07;
    position: absolute;
    left: -110px;
    top: 25px;
    
}

@media screen and (max-width: 767px){
    .sentences{
        height: 400px;
        color: rgba(230, 230, 230, 0.933);
    }
    .sentences .text p{
        font-size: 25px;
    }
    .sentences .text span{
        width: 200px;
        font-size: 25px;
        padding-left: 20px;
    }
    .sentences .text span::before{
        top: 15px;
        left: -60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px ){
    .sentences{
        height: 250px;
    }
    .sentences .text p{
        font-size: 25px;
    }
    .sentences .text span{
        font-size: 25px;
        padding-left: 100px;
    }
    .sentences .text span::before{
        top: 15px;
        left: -10px;
    }
}


/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*//* ...Boyuk sehiveler ucun...*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
.historyz{
    width: 100%;
    background-color: #fefefe;
    position: relative;

}
.historyz::before{
    width: inherit;
    height: 4000px;
    content: "";
    background-color: #670C07;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.historyz .headtext{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.historyz .headtext h2{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
    display: block;
    font-family: bolder;
}
.historyz .headtext h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: 0px;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}
.historyz .row{
    display: flex;
    justify-content: center;
}
.historyz .row .box{
    width: 100%;
    height: 390px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
}
.historyz .row .box .content{
    width: 100%;
    height: 150px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
    padding: 20px 10px 0px 10px;
    overflow: hidden;
}
.historyz .row .box .content h3{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
    display:block;
    font-family: bolder;
}
.historyz .row .box .content h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: -80%;
}
.historyz .row .box .content p{
    color: #000;
    font-size: 12px;
    font-family: bolditalic;
    padding-top: 5px;
}
.historyz .row .box .content a{
    color: #fff;
    background-color: #000;
    padding: 12px 210px;
    position: absolute;
    bottom: 10px;
}
@media screen and (max-width: 767px){
    .historyz::before{
        height: 8000px;
    }
    .historyz .row .box .content a{
        background-color: #000;
        padding: 10px 110px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1223px ){
    .historyz .row .box .content a{
        background-color: #000;
        padding: 10px 110px;
    }
    
}
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*//* ...ferqli BOXlar ucun...*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/
/* ....................................*/

.historym{
    width: 100%;
    background-color: #e0e0e0;
    position: relative;

}
.historym::before{
    width: inherit;
    height: 1900px;
    content: "";
    background-color: #670C07;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.historym .headtext{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.historym .headtext h2{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
    display: block;
    font-family: bolder;
}
.historym .headtext h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: 0px;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}
.historym .row{
    display: flex;
    justify-content: center;
}
.historym .row .box{
    width: 100%;
    height: 180px;
    margin-bottom: 20px;
    position: relative;
}
.historym .row .box .content{
    width: 100%;
    height: 180px;
    background-color: #fff;
    padding: 30px 30px;
    overflow: hidden;
}
.historym .row .box .content h3{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
    display:block;
    font-family: bolder;
}
.historym .row .box .content h3::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: -80%;
}
.historym .row .box .content p{
    color: #000;
    font-size: 16px;
    font-family: bolditalic;
    padding-top: 30px;
}
@media screen and (max-width: 767px){
    .historym::before{
        height: 3900px;
    }
    .historym .row .box .content a{
        background-color: #000;
        padding: 10px 110px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1223px ){
    .historym .row .box .content a{
        background-color: #000;
        padding: 10px 110px;
    }
    
}