*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "";
}
@font-face {
    font-family: bold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: bolditalic;
    src: url(../fonts/Poppins-SemiBoldItalic.ttf);
}
@font-face {
    font-family: medium;
    src: url(../fonts/Poppins-Medium.ttf);
}


.newstitle{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newstitle .overlay{
    width: 100%;
    height: 300px;
    background-color: rgba(62,41,4,.65);
    display: flex;
    justify-content: center;
    align-items: center;
}
.newstitle .overlay h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    font-family: bold;
}
.newstitle .overlay h1::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: 0px;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}
.newstitle .overlay h4{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    font-family: bold;
    text-align: center;
}

@media screen and (max-width: 767px){
    .newstitle{
        background-position: top center;
    }
    .newstitle .overlay h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px ){
    .newstitle{
        background-position: top center;
    }

}

.shortmatch{
    width: 100%;
    height: 400px;
    padding-top: 50px;
    position: relative;
}
.shortmatch::before{
    width: inherit;
    height: 300px;
    content: "";
    background-color: #670C07;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.shortmatch .row .box{
    width: 100%;
    height: 300px;
    background-color: #fff;
    border: 1px solid rgba(153, 153, 153, 0.185);
    position: relative;
}
.shortmatch .row .box .titletxt{
    width: 100%;
    padding: 20px 10px 0px 10px;
    
}
.shortmatch .row .box .titletxt h4{
    font-size: 22px;
    font-weight: bold;
    font-family: bold;
    border-bottom: 2px solid rgba(153, 153, 153, 0.185);
    padding-bottom: 5px;
}
.shortmatch .row .box .scor{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px 10px;
}
.shortmatch .row .box .scor .img{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shortmatch .row .box .scor .img img{
    width: 60%;
}
.shortmatch .row .box .scor .img h6{
    font-size: 14px;
    font-weight: bold;
    font-family: bolder;
}
.shortmatch .row .box .scor p{
    font-size: 40px;
    font-weight: bold;
    font-family: bolder;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortmatch .row .box .scor p span{
    font-size: 20px;
    color: #999;
    font-weight: 400;
    padding: 0px 10px;
}
.shortmatch .row .box .time{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    padding: 40px 10px 10px 10px;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    position: absolute;
    bottom: 0px;
}
.shortmatch .row .box .time p{
    font-size: 18px;
    position: relative;
    font-family: medium;
}
.shortmatch .row .box .time p::after{
    content: "Premyer Liqa";
    font-size: inherit;
    color: #999;
    position: absolute;
    top: -20px;
    left: 0px;
}
.shortmatch .row .box .time p span{
    color: #670C07;
}
.shortmatch .row .box .time h5{
    font-size: 18px;
    font-family: bolder;
}
@media screen and (max-width: 767px){
    .shortmatch{
        height: 670px;
    }
    .shortmatch::before{
        height: 550px;
    }
    .shortmatch .row .box{
        margin-bottom: 10px;
        height: 280px;
    }
    .shortmatch .row .box .scor .img{
        width: 26%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1223px ){

    .shortmatch .row .box .time p{
        font-size: 16px;
    }
    .shortmatch .row .box .time h5{
        font-size: 16px;
    }
    .shortmatch .row .box .scor .img{
        width: 26%;
    }
    .shortmatch .row .box .scor .img img{
        width: 80%;
    }
    .shortmatch .row .box{
        height: 280px;
    }
}

.matchRes{
    width: 100%;
    height: 920px;
    background-color: #f0f0f0;
    position: relative;
}
.matchRes::before{
    width: inherit;
    height: 700px;
    content: "";
    background-color: #670C07;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.matchRes .headtext{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
    
}
.matchRes .headtext h2{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    color: rgb(0, 0, 0);
    display: block;
    font-family: bolder;
}
.matchRes .headtext h2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: 0px;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}
.matchRes .content{
    width: 100%;
    position: relative;
    z-index: 2;
}
.matchRes .content .month,
.matchRes .content .month2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10px;
}
.matchRes .content .month h3,
.matchRes .content .month2 h3{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    color: #fff;
    display: block;
    font-family: bolditalic;
    z-index: 2;
}
.matchRes .content .month h3{
    color: #000;
}
.matchRes .content .month2::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 22px;
}
.matchRes .content .month2 h3{
    background-color: #670C07;
}
.matchRes .content .box{
    width: 100%;
    height: 105px;
    background-color: #fff;
    display: flex;
    margin-bottom: 15px;
    
}
.matchRes .content .box .time{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 10px;
}
.matchRes .content .box .time p{
    font-size: 18px;
    line-height: 1.1;
    position: relative;
    padding-top: 20px;
    font-family: medium;
}
.matchRes .content .box .time h5{
    font-size: 14px;
    font-family: bolder;
    text-align: center;
}
.matchRes .content .box .time p::after{
    content: "Premyer Liqa";
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 0px;
    left: 0px;
}
.matchRes .content .box .time p span{
    color: #670C07;
    font-family: medium;
}
.matchRes .content .box .img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
.matchRes .content .box .img img{
    width: 50%;
}
.matchRes .content .box .img h6{
    font-size: 18px;
    font-weight: bold;
    font-family: bolder;
}
.matchRes .content .box .scor{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.matchRes .content .box .scor p{
    font-size: 35px;
    font-weight: bold;
    font-family: bolditalic;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.matchRes .content .box .scor p span{
    font-size: 20px;
    color: #999;
    font-weight: 400;
    padding: 0px 10px;
}
.matchRes .content .box .scor .resicon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: bolder;
}
.matchRes .content .box .figurdiv{
    width: 20%;
    background-color: #f5f5f5;
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
}
.matchRes .load{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    z-index: 2;
}
.matchRes .load a{
    padding: 10px 30px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: medium;
}
@media screen and (max-width: 767px){
    .matchRes{
        width: 100%;
        height: 1760px;
        background-color: #f0f0f0;
        position: relative;
    }
    .matchRes::before{
        width: inherit;
        height: 1330px;
        content: "";
        background-color: #670C07;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .matchRes .content .box{
        width: 100%;
        height: 270px;
        display: block;
        margin-bottom: 15px;
        
    }
    .matchRes .content .box .time{
        width: 100%;
        display: block;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }
    .matchRes .content .box br{
        display: none;
    }
    .matchRes .content .box .time h5{
        text-align: left;
    }
    .matchRes .content .box .time p span{
        color: #670C07;
    }
    .matchRes .content .box .img{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: auto;
        padding: 0px 10px;
    }
    .matchRes .content .box .img img{
        width: 30%;
    }
    .matchRes .content .box .scor{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    .matchRes .content .box .scor p{
        font-size: 40px;
    }
    .matchRes .content .box .scor .resicon{
        width: 80px;
        height: 40px;
        font-size: 30px;
        font-family: bolder;
    }
    .matchRes .content .box .figurdiv{
        display: none;
    }
    
}
@media screen and (min-width: 768px) and (max-width: 1223px ){
    .matchRes .content .box .figurdiv{
        width: 10%;
    }
    .matchRes .content .box .img{
        width: 40%;
        padding: 0px 50px;
    }
    .matchRes .content .box .img img{
        width: 30%;
    }
    
}


.sentences{
    width: 100%;
    height: 600px;
    background: url(https://sawolvesprodnortheurope.blob.core.windows.net/cache/4/a/0/c/6/7/4a0c67cde8da4f54903f4dcc2db76a4f652f4b73.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sentences .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sentences .text p{
    font-size: 60px;
    font-family: bold;
    text-align: center;
    color: #000;
}
.sentences .text span{
    width: 300px;
    color: #670C07;
    font-family: bold;
    font-size: 35px;
    position: relative;
}
.sentences .text span::before{
    content: "";
    width: 35%;
    height: 4px;
    background-color: #670C07;
    position: absolute;
    left: -110px;
    top: 25px;
    
}

@media screen and (max-width: 767px){
    .sentences{
        height: 400px;
    }
    .sentences .text p{
        font-size: 25px;
    }
    .sentences .text span{
        width: 200px;
        font-size: 25px;
        padding-left: 20px;
    }
    .sentences .text span::before{
        top: 15px;
        left: -60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px ){
    .sentences{
        height: 250px;
    }
    .sentences .text p{
        font-size: 25px;
    }
    .sentences .text span{
        font-size: 25px;
        padding-left: 100px;
    }
    .sentences .text span::before{
        top: 15px;
        left: -10px;
    }
}