*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: bold;
    src: url(../fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

.newstitle{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.newstitle .overlay{
    width: 100%;
    height: 300px;
    background-color: rgba(62,41,4,.65);
    display: flex;
    justify-content: center;
    align-items: center;
}
.newstitle .overlay h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    font-family: bold;
}
.newstitle .overlay h1::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: #670C07;
    position: absolute;
    bottom: -10px;
    left: 0px;
    clip-path: polygon(3% 0, 100% 0, 97% 100%, 0% 100%);
}
.newstitle .overlay h4{
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    font-family: bold;
    text-align: center;
}

@media screen and (max-width: 767px){
    .newstitle{
        background-position: top center;
    }
    .newstitle .overlay h1{
        font-size: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px ){
    .newstitle{
        background-position: top center;
    }

}

.section{
    width: 100%;
    height: 50px;
}
.section ul{
    width: 100%;
    display: flex;
    list-style: none;
}
.section ul li{
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    transition: .5s;
}
.section ul li a{
    padding: 10px 100px;
    color: #000;
    font-size: 20px;
    font-family: medium;
}

@media screen and (max-width: 767px){
    .section ul li a{
        padding: 10px 10px;
        font-size: 16px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1223px ){
    .section ul li a{
        padding: 10px 55px;
    }
}

.newss{
    width: 100%;
    height: 1400px;
    background-color: rgb(233, 233, 233);
    padding-top: 50px;
}
.newss .row .box{
    width: 100%;
    border-bottom: #670C07 2px solid;
    margin-bottom: 40px;
}
.newss .row .box .img{
    width: 100%;
    border-bottom: solid 2px #670C07;
}
.newss .row .box .img img{
    width: 100%;
}
.newss .row .box .text{
    width: 100%;
    height: 165px;
    padding-top: 10px;
    padding-left: 15px;
    position: relative;
}
.newss .row .box span{
    font-size: 14px;
    font-weight: bold;
    color: #670C07;
    text-transform: uppercase;
    display: block;
}
.newss .row .box .text a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: bold;
}
.newss .row .box .text p{
    font-size: 16px;
    color: #999;
    position: absolute;
    bottom: 0px;
    left: 10px;
}
.newss .load{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.newss .load a{
    padding: 10px 30px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-family: medium;
}
@media screen and (max-width: 767px){
    .newss{
        height: 3700px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1223px ){
    .newss .row .box .text a{
        font-size: 18px;
    }
    .newss .row .box .text{
        height: 175px;
    }
    .newss{
        height: 1200px;
    }
}




.sentences{
    width: 100%;
    height: 600px;
    background: url(https://sawolvesprodnortheurope.blob.core.windows.net/cache/4/a/0/c/6/7/4a0c67cde8da4f54903f4dcc2db76a4f652f4b73.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sentences .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sentences .text p{
    font-size: 60px;
    font-family: bold;
    text-align: center;
    color: #000;
}
.sentences .text span{
    width: 300px;
    color: #670C07;
    font-family: bold;
    font-size: 35px;
    position: relative;
}
.sentences .text span::before{
    content: "";
    width: 35%;
    height: 4px;
    background-color: #670C07;
    position: absolute;
    left: -110px;
    top: 25px;
    
}

@media screen and (max-width: 767px){
    .sentences{
        height: 400px;
    }
    .sentences .text p{
        font-size: 25px;
    }
    .sentences .text span{
        width: 200px;
        font-size: 25px;
        padding-left: 20px;
    }
    .sentences .text span::before{
        top: 15px;
        left: -60px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1223px ){
    .sentences{
        height: 250px;
    }
    .sentences .text p{
        font-size: 25px;
    }
    .sentences .text span{
        font-size: 25px;
        padding-left: 100px;
    }
    .sentences .text span::before{
        top: 15px;
        left: -10px;
    }
}